.btn-ins,.btn-curso {
  display: block;
  position: absolute;
  padding: 10px;
  width: 300px;
  border-radius: 25px;
  background-color: #282c34;
  color: #ffffff;
  font-size: 1.4rem;
  margin-bottom: 100px;
  -webkit-transition: all .2s ease-in;
  cursor: pointer;
  box-shadow: 2px 5px 6px 4px rgba(0, 0, 0, 0.4);
}


.btn-ins:hover,.btn-curso:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #282c34;
}

.btn-curso {
  bottom: 250px;
  position: relative;

}