.button-save {
    display: block;
    position: absolute;
    padding:10px;
    border-radius: 35px;
    background-color: #282c34;
    color: #f7f7f7;
    font-size: 1.4rem;
    margin-bottom: 10px;
    -webkit-transition: all .2s ease-in;
    cursor: pointer;
    box-shadow: 2px 5px 6px 4px rgba(0, 0, 0, 0.4);
  }
  
  
  .button-save:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #282c34;
  }
  
