.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-cont {
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 500px;
  height: 700px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  box-shadow: 10px 9px 10px 2px rgb(27, 26, 29);

}

h1#title {
  color: #282c34;
  font-size: 2.2rem;
  display: block;
  flex-direction: column;
  margin-bottom: 600px;
  position: absolute;
  border-color: #282c34;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 2px 5px 6px 4px rgba(0, 0, 0, 0.2);
}

.fundo-tela {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);

}